# Airline Seat Payment Prediction

In [1]:
import pandas as pd

## 数据预处理
数据导入

In [2]:
path = 'data.xlsx'
# 训练用数据
train_data = pd.read_excel(path,sheet_name=0)
# 预测用数据
predict_data = pd.read_excel(path,sheet_name=1)

### 数据预览
数据内容

In [3]:
train_data.head()

,pax_name,pax_passport,seg_route_from,seg_route_to,seg_flight,seg_cabin,seg_dep_time,pax_fcny,pax_tax,emd_lable,...,pit_pay_avg_amt_m3,pit_pay_avg_amt_m6,pit_pay_avg_amt_y1,pit_pay_avg_amt_y2,pit_pay_avg_amt_y3,pit_add_chnl_m3,pit_add_chnl_m6,pit_add_chnl_y1,pit_add_chnl_y2,pit_add_chnl_y3
0,9612c51f08718e48b1361e415ef55be9,93d0aceeaef3f85264e5c5b5b1148a90,PVG,JFK,AB1006,J,2018-12-16 20:00:00,4161.0,584.43,0,...,0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,c7ca533cd9da4c4bf3d597248f90bc6e,6930f6fa59d86c11fa28c610ab6f56a5,PVG,JFK,AB1006,J,2019-02-18 20:00:00,1670.0,248.80,1,...,0,0.0,0.0,0.0,0.0,0,0,0,0,0
2,bd2cb6b0dd56fb3de6f7c018296a07e2,da73afa8f6ededd29d67a9331dccdbe9,PVG,LAX,AB1009,Y,2018-03-09 13:20:00,243.0,301.31,1,...,0,0.0,0.0,0.0,0.0,0,0,0,0,0
3,65657872fe131ea7651565638dcb5683,dc31eead23771810dbb586ad236ade3b,PVG,LAX,AB1009,Y,2018-01-02 13:20:00,1362.0,454.16,0,...,0,0.0,0.0,0.0,0.0,0,0,0,0,0
4,722261f7b860b183da9fe0b6630b6dbf,7689603247539830a08d945cb1a57823,PVG,JFK,AB1010,Y,2018-07-06 11:30:00,675.0,284.11,1,...,0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [4]:
predict_data.head()

,pax_name,pax_passport,seg_route_from,seg_route_to,seg_flight,seg_cabin,seg_dep_time,pax_fcny,pax_tax,emd_lable,...,pit_pay_avg_amt_m3,pit_pay_avg_amt_m6,pit_pay_avg_amt_y1,pit_pay_avg_amt_y2,pit_pay_avg_amt_y3,pit_add_chnl_m3,pit_add_chnl_m6,pit_add_chnl_y1,pit_add_chnl_y2,pit_add_chnl_y3
0,21f0b1c838160ac26cb2c57660bc3fd5,83685748783343bccba7a8c3c6a5c813,PVG,JFK,AB1010,Y,2019-04-10 11:30:00,339.0,227.81,0,...,0,0.0,0.0,0,0,0,0,0,0,0
1,21e0621a85f6db6139ff7cf2d53b4e5d,38da646d04551c8ad4652ab9d8a944b0,PVG,LAX,AB1008,Y,2019-12-04 21:00:00,255.0,250.15,0,...,0,0.0,0.0,0,0,0,0,0,0,0
2,197b215b23a93b19f391c422eb27f310,d9ac3f8a7ae010694f2391558a24129c,PVG,JFK,AB1010,Y,2018-11-29 11:30:00,479.0,411.21,0,...,0,0.0,0.0,0,0,0,0,0,0,0
3,92b435f20c6ce2fd5acef7b6ff49b6d0,1ffdb2de8c1ef1c7176f89cbf567ab10,PVG,LAX,AB1009,Y,2017-12-20 13:00:00,400.0,571.60,0,...,0,0.0,0.0,0,0,0,0,0,0,0
4,a38ac8bfe0feb14c0469e2917bc74a05,231a4d2ca500b1bcfb0abcd0247057d0,PVG,JFK,AB1006,Y,2017-10-24 19:10:00,500.0,279.66,0,...,0,0.0,0.0,0,0,0,0,0,0,0

数据大小

In [5]:
train_data.shape

(23432, 657)

In [6]:
predict_data.shape

(6771, 657)

数据描述

In [7]:
train_data.columns

Index(['pax_name', 'pax_passport', 'seg_route_from', 'seg_route_to',
       'seg_flight', 'seg_cabin', 'seg_dep_time', 'pax_fcny', 'pax_tax',
       'emd_lable',
       ...
       'pit_pay_avg_amt_m3', 'pit_pay_avg_amt_m6', 'pit_pay_avg_amt_y1',
       'pit_pay_avg_amt_y2', 'pit_pay_avg_amt_y3', 'pit_add_chnl_m3',
       'pit_add_chnl_m6', 'pit_add_chnl_y1', 'pit_add_chnl_y2',
       'pit_add_chnl_y3'],
      dtype='object', length=657)

In [8]:
train_data.describe()

,pax_fcny,pax_tax,emd_lable,emd_lable2,ffp_nbr,often_city,cabin_hf_cnt_m3,cabin_hf_cnt_m6,cabin_hf_cnt_y1,cabin_hf_cnt_y2,...,pit_income_avg_amt_m3,pit_income_avg_amt_m6,pit_income_avg_amt_y1,pit_income_avg_amt_y2,pit_income_avg_amt_y3,pit_pay_avg_amt_m3,pit_pay_avg_amt_m6,pit_pay_avg_amt_y1,pit_pay_avg_amt_y2,pit_pay_avg_amt_y3
count,2.343200e+04,23432.000000,23432.000000,23432.000000,2.343200e+04,23432.0,23432.000000,23432.000000,23432.000000,23432.000000,...,23432.000000,23432.000000,23432.000000,23432.000000,23432.000000,23432.000000,23432.000000,23432.000000,23432.000000,23432.000000
mean,2.228530e+04,15419.391633,0.307357,0.062948,1.191666e+11,0.0,0.001152,0.001494,0.002390,0.011821,...,21.296806,156.219197,270.001519,457.179858,475.895791,13.526929,391.267497,558.013831,748.363176,807.320277
std,1.178487e+05,69443.024026,0.461409,0.242875,2.476115e+11,0.0,0.044772,0.049300,0.063294,0.262108,...,476.224768,1531.406590,1776.295781,2123.088646,2124.994453,1015.707057,6437.739144,7310.016638,7814.222711,7856.874798
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.177500e+02,242.525000,0.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.680000e+02,299.360000,0.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.196000e+03,454.060000,1.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.264300e+06,636700.000000,1.000000,1.000000,6.640210e+11,0.0,2.000000,2.000000,3.000000,21.000000,...,24723.000000,75838.000000,51828.000000,48303.000000,58788.000000,88000.000000,250000.000000,250000.000000,231000.000000,255750.000000

In [9]:
train_data['age'].value_counts(normalize=True)

0        0.830659
21-30    0.052322
31-40    0.039391
51-60    0.025777
41-50    0.023472
60+      0.022320
44155    0.004609
0-10     0.001451
Name: age, dtype: float64